/* 
    accessible.css
    --------------
    Feuille de style des contenus accessibles.
*/

div#title {
    width: 100%;
}
div#content {
    float: left;
    width: 50%;
}
div#media {
    float: left;
    width: 50%;
}

