/* 
    common.css
    ----------
    Affichage des éléments HTML communs.
*/

/* Corps de page */
body {
    margin: 0px;
    padding: 0px;
    font-family: "Arial";
    overflow: hidden;
}

/* Liens */
a {
    text-decoration: none;
}

