/* 
    common.css
    ----------
    Affichage des éléments HTML communs.
*/

/* Corps de page */
body {
    margin: 0px;
    padding: 0px;
}

/* Styles de texte */
h1 {
    margin: 0px;
}
p {
    margin: 0px;
}

