/* 
    common.css
    ----------
    Affichage des éléments HTML communs.
*/

/* Corps de page */
body {
    margin: 0px;
    padding: 0px;
    font-family: "Arial";
    overflow: hidden;
}

/* Styles de texte */
h1 {
    margin: 0px;
}
h2 {
    color: black;
}
p {
    margin: 0px;
}

