/* 
    content.css
    -----------
    Style des contenus édioriaux.
*/

/* Mécanisme de scrolling */
div#content div.scroller {
    width: 558px;
    float: left;
    padding: 0px 30px 0px 0px !important;               /* Doit rester nul sur la hauteur */
}
div#content div.scrollbar {
    min-height: 40px;
    width: 20px;
    height: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}
div#content div.scrollbar div.scrollzone {
    margin: 25px 5px 25px 5px;
    float: left;
    background-color: #ddd;
}
div#content div.scrollbar div.scrollzone div.marker {
    width: 10px;
    float: left;
    padding: 0px !important;                            /* Doit rester nul sur la hauteur */
    background-color: #aaa;
}