/* content.css
 * -----------
 * Mise en page des contenus. */

/* Contenu textuels */
div#header div.title h1 {
    margin: 0px;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 0px;
    font-weight: bolder;
}
div#header div.title h2 {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 8px;
    font-size: 30px;
    padding-left: 20px;
}

/* Listes */
body div#footer ul {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
body div#footer ul li {
    display: inline;
    padding-right: 2px;
    padding-left: 2px;
}
