/* 
    footer.css
    ----------
    Styles du pied de page.
*/

div#footer {
    background-color: white;
}
div#footer div.spacer {
    width: 100%;
    padding-top: 10px;
    text-align: center;
}
div#footer div.spacer ul.links {
    float: left;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    list-style-type: none;
}
div#footer div.spacer ul.links li {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    padding: 0px 15px 0px 10px;
    border-right: 1px solid #ccc;
}
div#footer div.spacer ul.links li.last {
    border: none;
}
div#footer div.spacer ul.links li a {
    color: #555;
    font-style: italic;
    font-size: 16px;
    text-decoration: none;
}
div#footer div.spacer ul.references {
    float: right;
    padding: 5px 10px 0px 0px;
    margin: 0px;
    list-style-type: none;
}
div#footer div.spacer ul.references li {
    display: inline-block;
    margin: 0px;
    padding: 0px 5px;
}
div#footer div.spacer ul.references li.last {
    border: none;
}
div#footer div.spacer ul.references li a {
    opacity: 0.35;
}
div#footer div.spacer ul.references li a:hover {
    opacity: 1;
}