/* 
    fx.css
    ------
    Styles des effets graphiques (dégradés, coins, etc.).
*/

/* Gestion des coins */
div.corner {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url('img/blank.png');                 /* Image par défaut */
    background-repeat: no-repeat;
}
div.corner.tl {
    background-position: left top;
}
div.corner.tc {
    background-position: center top;
}
div.corner.tr {
    background-position: right top;
}
div.corner.br {
    background-position: right bottom;
}
div.corner.bc {
    background-position: center bottom;
}
div.corner.bl {
    background-position: left bottom;
}

/* Coins en sur-impression pour les médias */
div#media div.data div.cage div.view img.corner {
    position: absolute;
}
div#media div.data div.cage div.view img.corner.tl {
    top: 0px;
    left: 0px;
}
div#media div.data div.cage div.view img.corner.tr {
    top: 0px;
    right: 0px;
}
div#media div.data div.cage div.view img.corner.bl {
    bottom: 0px;
    left: 0px;
}
div#media div.data div.cage div.view img.corner.br {
    bottom: 0px;
    right: 0px;
}

/* Gestion des bordures */
div.border {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url('img/blank.png');                 /* Image par défaut */
}
div.border.tc {
    background-position: center top;
    background-repeat: repeat-x;
}
div.border.tc.smallshadow {
    background-image: url('img/shadow_top_s.png');
}
div.border.bc {
    background-position: center bottom;
    background-repeat: repeat-x;
}
div.border.bc.smallshadow {
    background-image: url('img/shadow_bottom_s.png');
}
div.border.bc.media {
    background-image: url('img/border_media_top.png');
}
div.border.tc.media {
    background-image: url('img/border_media_bottom.png');
}