/* layout.css
 * ----------
 * Mise en page générale. */

body {
    margin: 0px;
    font-family: Arial;
}
body div {
    
}
body div#header {
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
body div#header div {
    float: left;
    white-space: nowrap;
    overflow: hidden;
}
body div#header div.incoming {
    width: 0px;
}
body div#page {
    width: 100%;
    background-color: blue;
}
body div#footer {
    background-color: white;
    height: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    text-align: center;
}