/* 
    layout.css
    ----------
    Organisation des principaux éléments de la page.
*/

/* En-tête */
div#header {
    min-height: 120px;
    height: 120px;
    overflow: hidden;
}

/* Coeur de page */
div#page {
    min-height: 240px;
    height: auto;                       /* Hauteur redéfinie */
    max-height: 640px;
}

/* Pied de page */
div#footer {
    min-height: 40px;
    height: 40px;
}

