/* layout.css
 * ----------
 * Mise en page générale. */

body {
    margin: 0px;
    font-family: Arial;
}
body div {
    
}
body div#header {
    background-color: white;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 200px;
    padding-bottom: 10px;
}
body div#page {
    background-color: blue;
}
body div#footer {
    background-color: white;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    overflow: hidden;
    text-align: center;
}
body div#footer ul {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
body div#footer ul li {
    display: inline;
    padding-right: 2px;
    padding-left: 2px;
}