/* 
    media.css
    ---------
    Styles liés à la zone média.
*/

/* Zone média */
div#media {
    min-width: 200px;                                   /* Joue sur la taille du mouvement au chargement des médias */
    width: 100%;
    max-width: 390px;
    height: 100%;
    float: right;
}

/* Gestionnaire de chargement */
div#media div.loader {
    width: 30px;
    height: 100%;
    float: left;
}

/* Titre */
div#media div.title {
    height: 80px;
    padding: 0px !important;                            /* Doit rester nul */
    white-space: nowrap;
    overflow: hidden;
}
div#media div.title p {
    padding: 15px 5px 0px 10px;
    margin: 0px;
    font-style: italic;
    font-size: 12px;
}
div#media div.title h3 {
    padding: 0px 5px 10px 10px;
    margin: 0px;
    font-size: 0px;                                     /* Largeur de police redéfinie */
}

/* Coeur */
div#media div.data {
    min-height: 80px;
    height: auto;                                       /* Hauteur redéfinie */
    border-bottom: 10px solid #aaa;
    border-top: 10px solid #aaa;
    overflow: hidden;
    background-position: right center;
    background-repeat: repeat;
    background-image: url('img/blank.png');
}
div#media div.data div.cage {
    width: 100%;
    float: left;
}
div#media div.data div.cage div.links {
    width: 45px;
    float: left;
}
div#media div.data div.cage div.links ul {
    padding: 0px;
    margin: 0px;
}
div#media div.data div.cage div.links ul li {
    height: 40px;
    margin: 5px 0px 5px 5px;
    list-style-type: none;
    border: 1px solid #aaa;
    background-color: white;
}
div#media div.data div.cage div.links ul li:hover {
    background-color: #555;
}
div#media div.data div.cage div.view {
    margin: 5px 5px 5px 50px;
    border: 1px solid #aaa;
    background-color: white;
}

/* Carte */
div#map {
    width: 100%;
    height: 100%;
}

/* Pied */
div#media div.notes {
    padding: 0px !important;                            /* Padding haut doit rester nul */
    white-space: nowrap;
    overflow: hidden;
}
div#media div.notes div.spacer {
    padding: 5px 5px 20px 20px;
    text-align: right;
}
