/* 
    media.css
    ---------
    Styles liés à la zone média.
*/

/* Zone média */
div#media {
    width: 390px;                                       /* Destiné à ré-écriture */
    height: 100%;
    float: left;
}

/* Gestionnaire de chargement */
div#media div.loader {
    min-width: 30px;
    width: 30px;                                        /* Destiné à ré-écriture */
    max-width: 300px;
    height: 100%;
    float: left;
    background-image: url('img/blank.png');
    background-position: center;
    background-repeat: no-repeat;
}
div#media div.loader:hover {
    background-image: none;
}

/* Titre */
div#media div.title {
    height: 80px;
    padding: 0px !important;                            /* Doit rester nul */
    white-space: nowrap;
    overflow: hidden;
}
div#media div.title p {
    padding: 15px 5px 0px 10px;
    margin: 0px;
    font-style: italic;
    font-size: 12px;
}
div#media div.title h3 {
    padding: 0px 5px 10px 10px;
    margin: 0px;
    font-size: 0px;                                     /* Largeur de police redéfinie */
}

/* Coeur */
div#media div.data {
    min-height: 80px;
    height: auto;                                       /* Hauteur redéfinie */
    border-bottom: 10px solid #aaa;
    border-top: 10px solid #aaa;
    overflow: hidden;
    background-position: right center;
    background-repeat: repeat;
    background-image: url('img/blank.png');
}
div#media div.data div.cage {
    width: 100%;
    float: left;
}
div#media div.data div.cage div.links {
    width: 45px;
    float: left;
}
div#media div.data div.cage div.links ul {
    padding: 0px;
    margin: 0px;
}
div#media div.data div.cage div.links ul li {
    height: 40px;
    margin: 5px 0px 5px 5px;
    list-style-type: none;
    border: 1px solid #aaa;
    background-color: #999;
}
div#media div.data div.cage div.links ul li:hover {
    background-color: #555;
}
div#media div.data div.cage div.view {
    min-height: 2px;
    margin: 5px 5px 5px 50px;
    border: 1px solid #aaa;
    background-color: white;
}

/* Carte */
div#map {
    width: 100%;
    height: 100%;
}

/* Gallerie */
div#gallery {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
div#gallery div.picture {
    width: 100%;
    height: 100%;
    text-align: center;
}
div#gallery div.picture img {
    border: 1px solid white;
    width: auto;
    max-width: 100%;                                        /* Destiné à ré-écriture */
    height: auto;
    margin: 10px;
    vertical-align: middle;
}
div#gallery div.infos {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-image: url('img/blank.png');
    color: white;
}
div#gallery div.infos h4 {
    margin: 0px;
    padding: 5px 10px 0px 10px;
}
div#gallery div.infos p {
    margin: 0px;
    padding: 0px 10px 0px 10px;
}
div#gallery div.infos ul {
    padding: 5px 0px 0px 0px;
    margin: 0px;
    list-style-type: none;
    text-align: center;
}
div#gallery div.infos ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 2px;
    margin-left: 2px;
    border: 1px solid grey;
    opacity: 1;
}

/* Pied */
div#media div.notes {
    padding: 0px !important;                            /* Padding haut doit rester nul */
    white-space: nowrap;
    overflow: hidden;
}
div#media div.notes div.spacer {
    padding: 5px 5px 20px 20px;
    text-align: right;
}
