/* slides.css
 * ----------
 * Mise en forme des slides. */

/* Base */
div#page div.slide {
    display: inline;
    position: absolute;
    overflow: hidden;
}
div#page div.slide div.core {
    position: absolute;
    width: 920px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 25px;
    background: white;
    overflow: hidden;
}
div#page div.slide div.core div.scroller {
    position: absolute;
    width: 870px;
}
/* Univers */
div#page div.slide#slide1 {
    background-color: #bbb;
    border-left: 1px solid #bbb;
}
div#page div.slide#slide2 {
    background-color: #999;
    border-left: 1px solid #999;
}
div#page div.slide#slide3 {
    background-color: #777;
    border-left: 1px solid #777;
}
div#page div.slide#slide4 {
    background-color: #555;
    border-left: 1px solid #555;
}