/* slides.css
 * ----------
 * Mise en forme des slides. */

/* Base */
div#page div.slide {
    display: inline;
    position: absolute;
    overflow: hidden;
}
div#page div.slide div#core {
    position: absolute;
    width: 800px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    background: white;
    overflow: hidden;
}

/* Univers */
div#page div.slide#slide1 {
    background-color: #bbb;
}
div#page div.slide#slide2 {
    background-color: #999;
}
div#page div.slide#slide3 {
    background-color: #777;
}
div#page div.slide#slide4 {
    background-color: #555;
}