/* slides.css
 * ----------
 * Mise en forme des slides. */

div#page div.slide {
    display: inline;
    position: absolute;
    text-align: right;
}
div#page div.slide.selected {
    
}

div#page div.slide#slide1 {
    background-color:green;
}
div#page div.slide#slide2 {
    background-color:yellow;
}
div#page div.slide#slide3 {
    background-color:red;
}
div#page div.slide#slide4 {
    background-color:green;
}
div#page div.slide#slide5 {
    background-color:yellow;
}
div#page div.slide#slide6 {
    background-color:red;
    
}