<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link type="text/css" rel="stylesheet" href="/css/accessible.css" />
    </head>
    <body>
        <div id="title"></div>
        <div id="content"></div>
        <div id="media"></div>
    </body>
</html>
