<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title>kawasphere</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link type="text/css" rel="stylesheet" href="/css/accessible.css" />
    </head>
    <body>
        <div id="title"></div>
        <div id="navigation"></div>
        <div id="content"></div>
        <div id="media"></div>
        <div id="footer">
            <p>Vous vous trouvez sur la version accessible du site.</p>
            <p>Pour retourner à la version normale, <a href="/" title="Retour à la version standard">cliquez ici</a></p>
        </div>
    </body>
</html>
