<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title>kawasphere</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link rel="canonical" />
        <link type="text/css" rel="stylesheet" href="../css/accessible.css" />
    </head>
    <body>
        <div id="content" class="large">
            <h2>Version accessible</h2>
            <p>Vous êtes sur la version accessible du site ; 
            <a title="Commencer la navigation">cliquez ici</a> pour entamer la visite.</p>
        </div>
    </body>
</html>
