/* 
    a_home.css
    ----------
    Feuille de style de la page "Accueil".
*/

/* Coloration des textes */
div#header div.title.home,
div#page div.slide#home div#media div.title,
div#page div.slide#home a,
div#page div.slide#home h1,
div#page div.slide#home h2,
div#page div.slide#home h3 {
    color: #f59600;
}

/* Coloration des arrière-plan */
div#page div.slide#home,
div#page div.slide#home div.spacer div#media div.loader,
div#page div.slide#home div#content div.scrollbar div.scrollzone div.marker:hover,
div#page div.slide#home div#content div.scrollbar div.scrollzone div.marker.used,
div#page div.slide#home div#media div.initial p img,
div#page div.slide#home div#media div.data,
div#page div.slide#home div#media div.data div.links ul li.selected {
    background-color: #f59600;
}
div#page div.slide#home div#media div.data div.infos h4,
div#page div.slide#home div#media div.data div.infos p {
    background-image: url('../img/home/opacity_80.png');
}

/* Coloration des bordures */
div#page div.slide#home div#media div.data,
div#page div.slide#home div#media div#gallery div.infos ul li.selected,
div#page div.slide#home div#media div.data div.infos h4,
div#page div.slide#home div#media div.data div.infos p {
    border-color: #f59600;
}
div#page div.slide#home div#media div#gallery div.infos ul li:hover {
    border-color: #bf7500;
}

/* Coloration des liens au survol */
div#page div.slide#home a:hover {
    color: #bf7500;
}
div#footer.home a:hover {
    color: #f59600;
}

/* Coins */
div#page div.slide#home div.corner.medium.tl {
    background-image: url('../img/home/corner_tl_medium.png');
}
div#page div.slide#home div.corner.medium.tr {
    background-image: url('../img/home/corner_tr_medium.png');
}
div#page div.slide#home div.corner.medium.br {
    background-image: url('../img/home/corner_br_medium.png');
}
div#page div.slide#home div.corner.medium.bl {
    background-image: url('../img/home/corner_bl_medium.png');
}

/* Scrollbar */
div#page div.slide#home div#content div.cage div.scrollbar div.corner.tc {
    background-image: url('../img/home/scrollbar_top.png');
}
div#page div.slide#home div#content div.cage div.scrollbar div.corner.bc {
    background-image: url('../img/home/scrollbar_bottom.png');
}
