/* 
    b_studies.css
    -------------
    Feuille de style de la page "Etudes".
*/

div#header div.title.studies {
    color: #d32600;
}
div#page div.slide#studies {
    background-color: #d32600;
}
div#page div.slide#studies div.spacer div.loader {
    background-color: #d32600;
}
div#page div.slide#studies div#media div.data {
    border-color: #d32600;
}