/* 
    b_studies.css
    -------------
    Feuille de style de la page "Etudes".
*/

/* Coloration des textes */
div#header div.title.studies,
div#page div.slide#studies a,
div#page div.slide#studies h1,
div#page div.slide#studies h2,
div#page div.slide#studies h3,
div#page div.slide#studies div#media div#text h4,
div#page div.slide#studies div#media div#gmap h4 {
    color: #d32600;
}

/* Coloration des arrière-plan */
div#page div.slide#studies,
div#page div.slide#studies div.spacer div#media div.loader,
div#page div.slide#studies div#content div.scrollbar div.scrollzone div.marker:hover,
div#page div.slide#studies div#content div.scrollbar div.scrollzone div.marker.used,
div#page div.slide#studies div#media div.initial p img,
div#page div.slide#studies div#media div.data,
div#page div.slide#studies div#media div.data div.links ul li.selected {
    background-color: #d32600;
}
div#page div.slide#studies div#media div.data div.infos {
    background-image: url('../img/studies/opacity_80.png');
}

/* Coloration des bordures */
div#page div.slide#studies div#media div.data,
div#page div.slide#studies div#media div.notes,
div#page div.slide#studies div#media div#gallery div.infos,
div#page div.slide#studies div#media div#gmap h4,
div#page div.slide#studies div#media div.data div.cage div.view div.more  {
    border-color: #d32600;
}
div#page div.slide#studies div#media div#gallery div.infos ul li:hover,
div#page div.slide#studies div#media div.notes div.spacer ul li:hover {
    border-color: #921a00;
}

/* Coloration des liens au survol */
div#page div.slide#studies a:hover {
    color: #921a00;
}
div#footer.studies a:hover {
    color: #d32600;
}

/* Coins */
div#page div.slide#studies div.corner.medium.tl {
    background-image: url('../img/studies/corner_tl_medium.png');
}
div#page div.slide#studies div.corner.medium.tr {
    background-image: url('../img/studies/corner_tr_medium.png');
}
div#page div.slide#studies div.corner.medium.br {
    background-image: url('../img/studies/corner_br_medium.png');
}
div#page div.slide#studies div.corner.medium.bl {
    background-image: url('../img/studies/corner_bl_medium.png');
}
div#page div.slide#studies div.corner.small.tl {
    background-image: url('../img/studies/corner_tl_small.png');
}
div#page div.slide#studies div.corner.small.tr {
    background-image: url('../img/studies/corner_tr_small.png');
}
div#page div.slide#studies div.corner.small.br {
    background-image: url('../img/studies/corner_br_small.png');
}
div#page div.slide#studies div.corner.small.bl {
    background-image: url('../img/studies/corner_bl_small.png');
}

/* Scrollbar */
div#page div.slide#studies div#content div.cage div.scrollbar div.corner.tc {
    background-image: url('../img/studies/scrollbar_top.png');
}
div#page div.slide#studies div#content div.cage div.scrollbar div.corner.bc {
    background-image: url('../img/studies/scrollbar_bottom.png');
}

/* Médias divers */
div#page div.slide#studies div#media div.notes div.spacer ul li {
    background: url('../img/studies/check_off.png') transparent left top no-repeat;
}
div#page div.slide#studies div#media div.notes div.spacer ul li:hover {
    background: url('../img/studies/check_on.png') transparent left top no-repeat;
}
div#page div.slide#studies div#content div.cage div.scroller ul li {
    background: url('../img/studies/arrow.png') transparent left 8px no-repeat;
}
div#page div.slide#studies div#content div.cage div.scroller span.selected {
    background: url('../img/studies/selected_left.png') transparent left top no-repeat;
}
div#page div.slide#studies div#content div.cage div.scroller span.selected span {
    background: url('../img/studies/selected_right.png') transparent right top no-repeat;
}