/* 
    c_experience.css
    ----------------
    Feuille de style de la page "Expérience".
*/

/* Coloration des textes */
div#header div.title.experience,
div#page div.slide#experience a,
div#page div.slide#experience h1,
div#page div.slide#experience h2,
div#page div.slide#experience h3,
div#page div.slide#experience div#media div#text h4,
div#page div.slide#experience div#media div#gmap h4 {
    color: #6ba71c;
}

/* Coloration des arrière-plan */
div#page div.slide#experience,
div#page div.slide#experience div.spacer div#media div.loader,
div#page div.slide#experience div#content div.scrollbar div.scrollzone div.marker:hover,
div#page div.slide#experience div#content div.scrollbar div.scrollzone div.marker.used,
div#page div.slide#experience div#media div.initial p img,
div#page div.slide#experience div#media div.data,
div#page div.slide#experience div#media div.data div.links ul li.selected {
    background-color: #6ba71c;
}
div#page div.slide#experience div#media div.data div.infos {
    background-image: url('../img/experience/opacity_80.png');
}

/* Coloration des bordures */
div#page div.slide#experience div#media div.data,
div#page div.slide#experience div#media div.notes,
div#page div.slide#experience div#media div#gallery div.infos,
div#page div.slide#experience div#media div#gmap h4,
div#page div.slide#experience div#media div.data div.cage div.view div.more  {
    border-color: #6ba71c;
}
div#page div.slide#experience div#media div#gallery div.infos ul li:hover,
div#page div.slide#experience div#media div.notes div.spacer ul li:hover {
    border-color: #416511;
}

/* Coloration des liens au survol */
div#page div.slide#experience a:hover {
    color: #416511;
}
div#footer.experience a:hover {
    color: #6ba71c;
}

/* Coins */
div#page div.slide#experience div.corner.medium.tl {
    background-image: url('../img/experience/corner_tl_medium.png');
}
div#page div.slide#experience div.corner.medium.tr {
    background-image: url('../img/experience/corner_tr_medium.png');
}
div#page div.slide#experience div.corner.medium.br {
    background-image: url('../img/experience/corner_br_medium.png');
}
div#page div.slide#experience div.corner.medium.bl {
    background-image: url('../img/experience/corner_bl_medium.png');
}
div#page div.slide#experience div.corner.small.tl {
    background-image: url('../img/experience/corner_tl_small.png');
}
div#page div.slide#experience div.corner.small.tr {
    background-image: url('../img/experience/corner_tr_small.png');
}
div#page div.slide#experience div.corner.small.br {
    background-image: url('../img/experience/corner_br_small.png');
}
div#page div.slide#experience div.corner.small.bl {
    background-image: url('../img/experience/corner_bl_small.png');
}

/* Scrollbar */
div#page div.slide#experience div#content div.cage div.scrollbar div.corner.tc {
    background-image: url('../img/experience/scrollbar_top.png');
}
div#page div.slide#experience div#content div.cage div.scrollbar div.corner.bc {
    background-image: url('../img/experience/scrollbar_bottom.png');
}

/* Médias divers */
div#page div.slide#experience div#media div.notes div.spacer ul li {
    background: url('../img/experience/check_off.png') transparent left top no-repeat;
}
div#page div.slide#experience div#media div.notes div.spacer ul li:hover {
    background: url('../img/experience/check_on.png') transparent left top no-repeat;
}
div#page div.slide#experience div#content div.cage div.scroller ul li {
    background: url('../img/experience/arrow.png') transparent left 8px no-repeat;
}
div#page div.slide#experience div#content div.cage div.scroller span.selected {
    background: url('../img/experience/selected_left.png') #6ba71c left top no-repeat;
}
div#page div.slide#experience div#content div.cage div.scroller span.selected span {
    background: url('../img/experience/selected_right.png') right top no-repeat;
}