/* 
    e_infos.css
    -----------
    Feuille de style de la page "Informations".
*/

div#header div.title.infos {
    color: #616161;
}
div#page div.slide#infos {
    background-color: #616161;
}
div#page div.slide#infos div.spacer div.loader {
    background-color: #616161;
}
div#page div.slide#infos div#media div.data {
    border-color: #616161;
}